
<body>
    <form class="formulario">
    <h1>Login</h1>
     <div class="contenedor">    
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electronico" class="fondo">   
         </div>
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Contraseña">
         </div>
         <input type="submit" value="Login" class="button">
         <p>¿Aún no tienes cuenta? </p>
         <p>Crea tu cuenta</p>
        <p><a class="link" href="registrarvista.html">Registrate </a></p>
     </div>
    </form>
</body>
<router-outlet></router-outlet>
