<body>
    <form class="formulario">
       <h1>Registrate</h1>
        <div class="contenedor">
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Nombre de Usuario">
            </div>
            <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Correo Electronico">
            </div>
            <div class="input-contenedor">
           <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña">
            
            </div>
            <input type="submit" value="Registrate" class="button">
            
            <p><a routerLink="/login">Iniciar Sesión </a></p>
        </div>
       </form>
   </body>